.cus-card {
    padding: 16px;
    border-radius: 6px;

    &.card-bg {
        background-color: var(--th-secondary);
    }

    .card-title {
        line-height: 1;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$max-md} {
        width: 30px;
        height: 30px;
    }

    &.icon-bg {
        background-color: #2a3269;

        i {
            color: var(--th-primary);
        }
    }

    i {
        font-size: 26px;
    }
}

.user-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;

    @media #{$max-md} {
        width: 30px;
        height: 30px;
    }
}

.features-box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .features-item {
        display: flex;
        position: relative;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        .ftrs-icons {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            font-size: 24px;

            @media #{$max-xl} {
                width: 50px;
                height: 50px;
            }

            @media #{$max-lg} {
                width: 40px;
                height: 40px;
            }

            @media #{$max-md} {
                width: 30px;
                height: 30px;
            }
        }

        .float-icon {
            width: 30px;
            height: 30px;
            margin-left: auto;
            background-color: var(--th-dark);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
    }
}

.chart-wrap {
    .btn {
        border-radius: 30px;
        padding: 5px 20px;
        @media #{$max-lg} {
            border-radius: 20px;
            padding: 3px 10px;
            font-size: 12px;
        }
    }
        .secondary-btn {
            background-color: #4c4d52;
            color: #fff;
            border: 1px solid #ddd;

            &:focus,
            &:hover {
                background-color: #4c4d52;
                color: #fff;
                border: 1px solid #ddd;
            }
        }
    }