.main-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: calc(100% - 70px);
    margin-left: auto;
    background-color: var(--th-secondary);
    z-index: 999;
    @media #{$max-lg}{
        width:100%;
    }
    .btn-menu {
        border: 0;
        background-color: transparent;
        font-size: 22px;
        color: var(--secondary-100);
    }
    .widget-eliment {
        gap: 16px;
        @media #{$max-lg}{
            gap: 10px;
        }
        .element-lst {
            margin-top: 16px;
            padding-bottom: 16px;
        }
        .elem-link {
            display: inline-block;
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:var(--th-dark);
            border-radius: 100%;
            color:#a3a3a4;
            @media #{$max-lg}{
                width: 30px;
                height: 30px;
            }
            @media #{$max-sm}{
                width: 24px;
                height: 24px;
            }
            i{
                font-size: var(--th-h4-font-size);
            }
        }
    }
    .prof-link img {
        object-fit: cover;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        @media #{$max-lg}{
            width: 30px;
            height: 30px;
        }
        @media #{$max-sm}{
            width: 24px;
            height: 24px;
        }
    }
    .control-form {
        background-color: #2a2b30;
        border: 1px solid #31343a;
        padding: 6px 10px;
        border-radius: 4px;
        width: 300px;
        max-width: 100%;
        padding-left: 40px;
        color: #fff;
        position: relative;
        @media #{$max-lg}{
            width: 200px;
        }
        @media #{$max-sm}{
            width: 150px;
        }
    }
    
    .search{
        position: relative;
        .search-icon {
            border: 0;
            background-color: transparent;
            left: 10px;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            color: var(--th-secondary-100);
        }
        &::placeholder{
            color: var(--th-secondary-100);
            font-weight: 600;
        }
    }
}